# --- System & Environment ---
target/
**/*.DS_Store
.env

# --- Large Data & Models ---

# Ignore everything inside captures...
captures/*
# ...but keep the folder (by keeping this file)
!captures/.gitkeep

# Ignore everything inside image_db...
image_db/*
!image_db/.gitkeep

# Ignore everything inside models...
models/*
!models/.gitkeep




# --- Ignored Source Files (Keep only main.rs) ---
src/*
!src/main.rs

# --- Ignored Static Files (Keep only index.html) ---
static/*
!static/index.html
